<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{TITLE}} - OHMY Delegate Pool</title>
<meta name="title" content="{{TITLE}}" />
<meta name="keywords" content="OHMY, lsk, pool, delegate, shinekami, crypto, blockchain, sidechain" />
<meta name="description" content="OHMY delegate pool" />
<meta name="author" content="ShineKami" />
<meta name="document-state" CONTENT="dynamic" />
<meta name="copyright" lang="ru" content="{{TITLE}}" />
<meta name="generator" content="{{TITLE}} systems" />
<meta name="robots" content="all" />

<meta property="og:type" content="website" />
<meta property="og:title" content="{{TITLE}}"/>
<meta property="og:description" content="OHMY delegate pool"/>

<link rel="shortcut icon" href="/static/imgs/favicon.png" />
<link rel="stylesheet" href="/static/css/webapp.css" />
<script type="text/javascript" src="/static/js/webapp.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->