<div class="container middle">
	<div class="charts">
		<h1 class="page_title">GRAFICOS</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box_title">Aprobación de la comunidad</div>
					<div class="box_cont">
						<div class="hcharts" data-url='/charts/aget_approval' data-ptitle="Approval (%)" data-pdecimal="2"></div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box_title">Rango</div>
					<div class="box_cont">
						<div class="hcharts" data-url='/charts/aget_rank' data-ptitle="Rank" data-pdecimal="0"></div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box_title">Saldo del Pool</div>
					<div class="box_cont">
						<div class="hcharts" data-url='/charts/aget_balance' data-ptitle="Balance (OHMY)" data-pdecimal="3"></div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box_title">Cantidad de Votos</div>
					<div class="box_cont">
						<div class="hcharts" data-url='/charts/aget_vcount' data-ptitle="Votes Count" data-pdecimal="0"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>