<div class="container-fluid mhead">
	<div class="row no-gutter">
		<div class="col-md-12">
			<div class="topfon"></div>
		</div>
	</div>
</div>

<div class="container middle">
	<div class="row">
		<div class="col-md-12">
			<div class="home">
				<div class="box box-home">
					<h1 class="title">Pool({{username}}) - OhMy Delegate Pool</h1>
					<div class="text">
						Esta es solo una interfaz que solo permite leer información. Para empezar a forjar debes votar por el delegado del Pool <span>"{{username}}" ({{daddr}})</span> via OhMy Web. Se puede encontrar más información de delegados en la pestaña Estadísticas. La Pool compartirá proporcionalmente <span>{{pshare}}%</span> de los ingresos de bloques forjados a las personas que votaron, el resto se mantendrá para mantener servidores
. Esta Pool está trabajando en <span>{{network}}</span>. El intervalo de pagos es de <span>{{pptime}}hrs</span>  si haz ganado mas de <span>{{ppmin}} OhMy</span>. Si tu votas por el delegado ({{username}}) la información aparecerá en la pestaña Estadísticas tan pronto se forje un nuevo bloque. 
					</div>
					<a class="btn-vote" href="https://wallet.ohmytienda.com" target="_blank" title="Votar por delegado">Votar</a>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>