<div class="container middle">
	<div class="ostat">
		<h1 class="page_title">ESTADÍSTICAS DEL VOTANTE</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="voter_form">
						<input type="text" name="address" placeholder="Dirección OHMY">
						<input type="button" value="Go" name="getvoterinfo">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>